body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    background-color: tomato;
}

* {
    margin: 0;
    padding: 0;
    /* using the * tag we are telling elements not to take up space unless we tell them to */
    box-sizing: border-box;
}

header  {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
    /* h1 wanted to push all preceding elements down a line. by adding an inline display tag we tell h1 to line up with other elements
    in header instead of pushing them down. (h1 is a block element) */
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px; 
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    /* 40px (top and bottom) 35px (left and right) */
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

  footer div {
      float: right;
      text-align: right;
      line-height: 1.5;
  }

  footer a {
      color: #024e76;
  }
